.articles {
  display: grid;
  grid-template-rows: 7rem 8rem minmax(min-content, max-content) 10rem;
  grid-template-columns: 2fr 1fr;

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 7rem 10rem minmax(min-content, max-content) 15rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    grid-template-rows:
      7rem fit-content(100%) 7rem minmax(min-content, max-content)
      15rem;
  }
}
