.articles {
  display: grid;
  grid-template-rows: 5rem 12rem minmax(min-content, max-content) 10rem;
  grid-template-columns: 2fr 1fr;
}

.query {
  width: 100%;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: start;
  align-self: center;

  &__text {
    font-size: 4rem;
    color: $color-grey-dark-1;
    letter-spacing: 1px;
    padding: 2rem;
    display: flex;
    align-items: center;
    text-align: center;

    &::before,
    &::after {
      content: "";
      border-bottom: 1px solid $color-grey-dark-1;
    }

    &::before {
      margin-right: 0.25em;
      flex: 0.5;
    }

    &::after {
      margin-left: 0.25em;
      flex: 2;
    }
  }
}
