//Style variables
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.15);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

$color-primary: #052962;
$color-primary-light: #114290;
$color-primary-dark: #01112a;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a; //normal text
$color-grey-dark-2: #6d5d4b; //light text
$color-grey-dark-3: #2c261f;
$color-grey-dark-4: #181411;

//RESPONSIVE BREAKPOINTS
$bp-medium: 56.3em; //900px
$bp-small: 37.5em; //600px

//Meyer Reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

//////////////////////////////////////

*:not(input) {
  cursor: default;
}

* {
  font-family: "Bentham", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% -> 1 rem =  10 px

  @media only screen and (max-width: $bp-medium) {
    font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 31%;
  }
}

body {
  line-height: 1.6;
}

main {
  background-size: contain;
  display: grid;
  justify-content: center;
  overflow: auto;
}

.content {
  display: grid;
  grid-template-rows: 15vh minmax(85vh, max-content);
  margin-top: 10rem;
  margin-bottom: 5rem;
  width: 100rem;
  max-width: 100vw;
  box-shadow: $shadow-dark;
  background-color: #ffffff;

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 20vh minmax(85vh, max-content);
    width: 100vw;
    height: 100vw;
    margin-top: 0;
    margin-bottom: 0;
  }
}

//media query plan:
//maybe remove 1200 break, if nothing needs to change
//at 1000, goes to two columns, looks good, ,maybe at 900 instead?
//at 900, it should take up the entire screen
//at 600, go to one column - DONE
