.bookmarks {
  display: grid;
  grid-template-rows: 12rem minmax(min-content, max-content) 10rem;
  grid-template-columns: 2fr 1fr;

  &__header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  &__results {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-gap: 2rem;
    padding: 0 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;

    &__results {
      grid-column: 1 / span 1;
      padding: 0;
    }
  }
}

.bookmark {
  height: 25rem;
  background-color: $color-grey-light-1;
  display: grid;
  position: relative;
  box-shadow: $shadow-medium;
  grid-template-columns: 45% 55%;
  justify-items: center;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: $recipe-padding-sides;
  }

  &__header {
    font-weight: 600;
    color: $color-grey-dark-1;
    font-size: 2.25rem;
    @include line-limit;
    -webkit-line-clamp: 2; /* number of lines to show */
  }

  &__description {
    margin-top: 1rem;
    color: $color-grey-dark-2;
    font-size: 1.5rem;
    @include line-limit;
    -webkit-line-clamp: 3; /* number of lines to show */
  }

  &__delete {
    height: 2.5rem;
    width: 2.5rem;
    background-color: $color-primary;
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    align-self: flex-end;

    &:hover {
      cursor: pointer;
    }
  }
}
