.spinner {
  margin: 5rem auto;
  text-align: center;

  &__icon {
    height: 20rem;
    width: 20rem;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
