.sort {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: end;
}

.dropdown {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr 1fr;
  background-color: transparent;
  font-size: 16px;

  &__btn {
    padding: 16px;
    border: none;
    grid-template-rows: 1 / span 1;
    grid-template-columns: 1 / span 1;
    background-color: $color-secondary-light;
    color: white;
  }

  &__content {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    overflow: auto;
    min-width: 160px;
    background-color: transparent;
  }

  &__option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;

    &--active {
      order: 1;
      font-weight: 600;
      background-color: $color-grey-light-1;

      &::after {
        content: "\25BE";
      }
    }

    &--inactive {
      order: 2;
      display: none;
      background-color: $color-grey-light-1;
    }

    &--inactive--show {
      order: 2;
      display: block;
    }
  }
}
