/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

  /* Dropdown Button */
  &__btn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    /* Dropdown button on hover & focus */
    &:hover,
    &:focus {
      background-color: #2980b9;
    }
  }

  /* Dropdown Content (Hidden by Default) */
  &__content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    &--show {
      display: block;
    }
  }

  /* Links inside the dropdown */
  &__content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    /* Change color of dropdown links on hover */
    &:hover {
      background-color: #ddd;
    }
  }
}
