.pagination {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  justify-self: end;
  align-self: center;

  display: flex;
  background-color: inherit;
  width: fit-content;

  &__btn,
  &__dots {
    color: $color-grey-dark-2;
    border: none;
    background-color: inherit;
    font-size: 2rem;
    width: 5rem;

    &:hover {
      cursor: pointer;
      color: $color-grey-dark-4;
      font-weight: 800;
    }

    &:focus {
      outline: none;
    }

    &--active {
      color: $color-grey-dark-4;
      font-weight: 800;
      cursor: auto;
      border: none;
      background-color: inherit;
      font-size: 2rem;
      width: 5rem;
    }
  }

  &__arrow {
    width: 8rem;
    color: $color-grey-dark-2;
    background-color: inherit;
    font-size: 2rem;

    &--disabled {
      display: none;
    }

    &--disabled:hover {
      cursor: default;
    }

    &--enabled {
      cursor: pointer;
    }
  }

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / span 1;
  }
}
