.pagination {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  justify-self: end;
  align-self: center;

  display: flex;
  background-color: inherit;
  width: fit-content;

  &__btn,
  &__dots {
    color: $color-secondary-light;
    border: none;
    background-color: inherit;
    font-size: 2.5rem;
    width: 4rem;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &--active {
      color: black;
      cursor: auto;
      border: none;
      background-color: inherit;
      font-size: 2.5rem;
    }
  }

  &__arrow {
    width: 10rem;
    color: $color-secondary-light;
    cursor: pointer;
    background-color: inherit;
    font-size: 2.5rem;

    &--active {
      cursor: auto;
    }
  }
}
