.results {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto, 50rem);
  grid-gap: 2rem;
  grid-template-areas:
    "one one two"
    "three four five"
    "six seven seven"
    "eight nine ten";

  & > :nth-child(2),
  & > :nth-child(3),
  & > :nth-child(4),
  & > :nth-child(5),
  & > :nth-child(6),
  & > :nth-child(8),
  & > :nth-child(9),
  & > :nth-child(10) {
    display: grid;
    grid-template-rows: 50% 50%;
    justify-items: center;

    .recipe__details {
      padding: 1rem 1rem 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .recipe__header {
      font-size: 2.25rem;
    }

    .recipe__description {
      font-size: 1.75rem;
      margin-top: 1rem;
    }

    .recipe__bookmarkBtn {
      height: 3rem;
      width: 3rem;
      top: 50%;
      right: 3%;
      align-self: flex-end;
      transform: translateY(-50%);
    }
  }

  & > :nth-child(1),
  & > :nth-child(7) {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    position: relative;

    .recipe__details {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 1.5rem;
    }

    .recipe__header {
      font-size: 3rem;
    }

    .recipe__description {
      margin-top: 1rem;
      font-size: 2rem;
    }

    .recipe__bookmarkBtn {
      height: 3.5rem;
      width: 3.5rem;
      left: 60%;
      transform: translateX(-60%) translateY(-160%);
      top: 100%;
    }
  }

  & > :nth-child(1) {
    grid-area: one;
  }

  & > :nth-child(2) {
    grid-area: two;
  }

  & > :nth-child(3) {
    grid-area: three;
  }

  & > :nth-child(4) {
    grid-area: four;
  }

  & > :nth-child(5) {
    grid-area: five;
  }

  & > :nth-child(6) {
    grid-area: six;
  }

  & > :nth-child(7) {
    grid-area: seven;
  }

  & > :nth-child(8) {
    grid-area: eight;
  }

  & > :nth-child(9) {
    grid-area: nine;
  }

  & > :nth-child(10) {
    grid-area: ten;
  }

  //medium screens
  @media only screen and (max-width: $bp-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-template-areas:
      "one one"
      "two three"
      "four four"
      "five six"
      "seven seven"
      "eight nine"
      "ten ten";

    & > :nth-child(2),
    & > :nth-child(3),
    & > :nth-child(5),
    & > :nth-child(6),
    & > :nth-child(8),
    & > :nth-child(9) {
      height: 50rem;
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 1fr;
      justify-items: center;

      .recipe__details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 1.5rem;
      }

      .recipe__header {
        font-size: 3rem;
      }

      .recipe__description {
        margin-top: 1rem;
        font-size: 2rem;
      }

      .recipe__bookmarkBtn {
        top: 50%;
        right: 3%;
        align-self: flex-end;
        transform: translateY(-50%);
      }
    }

    & > :nth-child(1),
    & > :nth-child(4),
    & > :nth-child(7),
    & > :nth-child(10) {
      height: 30rem;
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 30rem;
      justify-items: center;

      .recipe__details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 1.5rem;
      }

      .recipe__header {
        font-size: 3rem;
      }

      .recipe__description {
        margin-top: 1rem;
        font-size: 2rem;
      }

      .recipe__bookmarkBtn {
        left: 60%;
        transform: translateX(-60%) translateY(-160%);
        top: 100%;
      }
    }
  }

  //small screens
  @media only screen and (max-width: $bp-small) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    grid-template-areas:
      "one"
      "two "
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine"
      "ten";

    & > :nth-child(-n + 10) {
      height: 40rem;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 40rem;
      justify-items: center;

      .recipe__bookmarkBtn {
        height: 3.5rem;
        width: 3.5rem;
        left: 50%;
        top: 85%;
        transform: translateX(-50%) translateY(0);
      }
    }

    & > :nth-child(odd) {
      .recipe__details {
        grid-column: 2 / span 1;
      }

      .recipe__image {
        grid-column: 1 / span 1;
      }

      .recipe__link {
        padding-left: 2rem;
      }
    }

    & > :nth-child(even) {
      .recipe__details {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }

      .recipe__image {
        grid-column: 2 / span 1;
      }

      .recipe__link {
        padding-right: 2rem;
      }
    }
  }
}

.recipe {
  height: 50rem;
  background-color: $color-grey-light-1;
  position: relative;
  box-shadow: $shadow-medium;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  &__details {
    justify-self: stretch;
  }

  &__header {
    font-weight: 600;
    color: $color-grey-dark-1;
  }

  &__description {
    color: $color-grey-dark-2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-grey-dark-1;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 600;
    overflow: hidden;
    background: linear-gradient(
      to right,
      $color-grey-dark-3,
      $color-grey-dark-4 50%,
      $color-grey-dark-1 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: all 300ms ease;

    &::before,
    &::after {
      content: "";
      border-bottom: 1px solid $color-grey-dark-1;
    }

    &::before {
      margin-right: 0.25em;
      flex: 2;
    }

    &:hover {
      cursor: pointer;
      background-position: 0 100%;
      font-weight: 900;
    }
  }

  &__bookmarkBtn {
    background-color: $color-primary;
    fill: white;
    position: absolute;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}
