.results {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto, 35rem);
  grid-gap: 2rem;
  grid-template-areas:
    "one one two"
    "three four five"
    "six seven seven"
    "eight nine ten";

  & > :nth-child(2),
  & > :nth-child(3),
  & > :nth-child(4),
  & > :nth-child(5),
  & > :nth-child(6),
  & > :nth-child(8),
  & > :nth-child(9),
  & > :nth-child(10) {
    grid-template-rows: 50% 50%;

    .recipe__details {
      padding: $recipe-padding-full;
    }

    .recipe__header {
      font-size: 1.75rem;
      -webkit-line-clamp: 2; /* number of lines to show */
    }

    .recipe__description {
      font-size: 1.25rem;
      margin-top: 1rem;
      -webkit-line-clamp: 3; /* number of lines to show */
    }

    .recipe__bookmarkBtn {
      @include small-bookmark;
    }
  }

  & > :nth-child(1),
  & > :nth-child(7) {
    grid-template-columns: 60% 40%;

    .recipe__details {
      padding: $recipe-padding-sides;
    }

    .recipe__header {
      font-size: 2.5rem;
      -webkit-line-clamp: 4; /* number of lines to show */
    }

    .recipe__description {
      margin-top: 1rem;
      font-size: 1.5rem;
      -webkit-line-clamp: 4; /* number of lines to show */
    }

    .recipe__bookmarkBtn {
      @include large-bookmark;
    }
  }

  & > :nth-child(1) {
    grid-area: one;
  }

  & > :nth-child(2) {
    grid-area: two;
  }

  & > :nth-child(3) {
    grid-area: three;
  }

  & > :nth-child(4) {
    grid-area: four;
  }

  & > :nth-child(5) {
    grid-area: five;
  }

  & > :nth-child(6) {
    grid-area: six;
  }

  & > :nth-child(7) {
    grid-area: seven;
  }

  & > :nth-child(8) {
    grid-area: eight;
  }

  & > :nth-child(9) {
    grid-area: nine;
  }

  & > :nth-child(10) {
    grid-area: ten;
  }

  //medium screens
  @media only screen and (max-width: $bp-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3rem;
    grid-template-areas:
      "one one"
      "two three"
      "four four"
      "five six"
      "seven seven"
      "eight nine"
      "ten ten";

    & > :nth-child(2),
    & > :nth-child(3),
    & > :nth-child(5),
    & > :nth-child(6),
    & > :nth-child(8),
    & > :nth-child(9) {
      height: 45rem;
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 1fr;

      .recipe__details {
        padding: $recipe-padding-full;
      }

      .recipe__header {
        font-size: 2.5rem;
        -webkit-line-clamp: 2; /* number of lines to show */
      }

      .recipe__description {
        margin-top: 1rem;
        font-size: 1.5rem;
        -webkit-line-clamp: 2; /* number of lines to show */
      }

      .recipe__bookmarkBtn {
        @include small-bookmark;
      }
    }

    & > :nth-child(1),
    & > :nth-child(4),
    & > :nth-child(7),
    & > :nth-child(10) {
      height: 30rem;
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 30rem;

      .recipe__details {
        padding: $recipe-padding-sides;
      }

      .recipe__header {
        font-size: 2.5rem;
      }

      .recipe__description {
        margin-top: 1rem;
        font-size: 1.5rem;
      }

      .recipe__bookmarkBtn {
        @include large-bookmark;
      }
    }
  }

  //small screens
  @media only screen and (max-width: $bp-small) {
    grid-row: 4 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "two "
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine"
      "ten";

    & > :nth-child(-n + 10) {
      height: 25rem;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 25rem;

      .recipe__header {
        font-size: 2rem;
        -webkit-line-clamp: 4; /* number of lines to show */
      }

      .recipe__details {
        padding: $recipe-padding-sides;
        grid-row: 1 / span 1;
      }

      .recipe__bookmarkBtn {
        @include central-bookmark;
      }

      .recipe__description {
        display: none;
      }
    }

    & > :nth-child(odd) {
      .recipe__details {
        grid-column: 2 / span 1;
      }

      .recipe__image {
        grid-column: 1 / span 1;
      }
    }

    & > :nth-child(even) {
      .recipe__details {
        grid-column: 1 / span 1;
      }

      .recipe__image {
        grid-column: 2 / span 1;
      }
    }
  }
}

.recipe {
  height: 35rem;
  background-color: $color-grey-light-1;
  display: grid;
  position: relative;
  box-shadow: $shadow-medium;
  justify-items: center;

  &__details {
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__header {
    font-weight: 600;
    color: $color-grey-dark-1;
    @include line-limit;
    -webkit-line-clamp: 3; /* number of lines to show */
  }

  &__description {
    color: $color-grey-dark-2;
    @include line-limit;
    -webkit-line-clamp: 4; /* number of lines to show */
  }

  &__bookmarkBtn {
    background-color: $color-primary;
    fill: white;
    position: absolute;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}
