.search {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  justify-self: start;
  align-self: end;
  display: grid;
  width: 30rem;
  height: 4rem;
  box-shadow: $shadow-light;
  grid-template-columns: 8fr 2fr;
  border-radius: 1rem;
  overflow: hidden;
  background-color: $color-grey-light-1;
  font-size: 1.5rem;

  &__field {
    border: none;
    padding: 1rem 1.5rem;
    background-color: inherit;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    background-color: inherit;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  @media only screen and (max-width: $bp-small) {
    width: 40rem;

    &__field {
      font-size: 2rem;
    }
  }
}

.svg {
  height: 2rem;
  width: 3rem;
  fill: currentColor;
  color: $color-grey-dark-2;
}
