.sort {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: end;
  font-size: 2, 5rem;

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    z-index: 100;
    margin: 3rem 0;
  }
}

.dropdown {
  display: flex;
  font-size: 2rem;

  &__btn {
    border: none;
    background-color: inherit;
    font-size: 2rem;
    padding: 1rem;
    height: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__option {
    text-decoration: none;
    cursor: pointer;
    background-color: #ffffff;

    color: $color-grey-dark-1;
    padding: 0.5rem 2rem;
    z-index: 1;

    &--active {
      order: 1;
      font-weight: 600;
      background-color: $color-grey-light-1;

      &::after {
        content: "\25BE";
      }
    }

    &--inactive {
      order: 2;
      display: none;
    }

    &--show {
      order: 2;
      display: block;
      background-color: #ffffff;

      &:hover {
        font-weight: 600;
      }
    }
  }
}
