.search {
  display: grid;
  width: 50%;
  box-shadow: $shadow-light;
  grid-template-columns: 8fr 1fr;
  border: none;

  &__field {
    color: $color-grey-dark-1;
    background-color: #fff;
    border: none;
    margin-left: 2rem;
  }

  &__btn {
    background-color: turquoise;
    box-shadow: -11px 0px 19px 0px rgba(50, 50, 50, 0.75);
    border: none;
    width: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}
