.search {
  display: grid;
  width: 100%;
  box-shadow: $shadow-medium;
  grid-template-columns: 8fr 2fr;
  border-radius: 1rem;
  border: none;

  &:focus {
    outline: none;
  }

  &__field {
    color: $color-grey-dark-1;
    background-color: #fff;
    border: none;
    margin-left: 2rem;
    padding: 2rem 1rem;
    font-size: 2rem;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    background-color: turquoise;
    // box-shadow: -11px 0px 19px 0px rgba(50, 50, 50, 0.75);
    border: none;
    font-size: 1.5rem;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

.svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
  color: white;
}
