.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

  &__links {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    &:hover {
      background-color: #ddd;
    }
    &:active {
      background-color: #ccc;
    }
  }
}

.tabcontent {
  &__inactive {
    display: none;
  }
}
